*, *:before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// background colors
$bgColor: #1E2028;
$bgColor-alternate: #2F3138;
$bgColor-code: #1C1E26;

// misc colors
$color-accent: #EC697A;

// syntax colors for snippets
$syntax-red: #E95678;
$syntax-gold: #FAB98E;

// fonts
$font-header: 'Montserrat', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-code: 'Roboto Mono', monospace;

// shadows
$shadow-btn: 0 5px 20px rgba(0, 0, 0, 0.15);
$shadow-preview: 0 5px 20px rgba(0, 0, 0, 0.25);
$shadow-code: 0 5px 20px rgba(0, 0, 0, 0.15);


body {
  background-color: $bgColor;
}

main {
  padding: 1.5rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

section > h1 {
  font-family: $font-header;
  font-weight: 200;
  color: white;
  text-align: center;
  margin-bottom: 0.5rem;
}

main > section {
  margin-bottom: 2rem;
}

.instructions {
  color: white;
  font-family: $font-body;
  font-weight: 300;
  font-size: 0.7em;
  padding: 0 2rem;

  .em { font-weight: 400; }

  a {
    text-decoration: none;
    color: $color-accent;
    font-weight: 400;

    &:active { color: darken($color-accent, 5%); }
  }
}

.code {
  width: 100%;
  color: #BBBBBB;
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
  box-shadow: $shadow-code;
  background-color: $bgColor-code;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  code {
    font-family: $font-code;
    font-size: 0.75em;

    .red { color: $syntax-red; }
    .gold { color: $syntax-gold; }
  }
}


// Header: logo, name, description, links
.header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1.5rem 3rem;
  padding-bottom: 0;
}

.header__logo {
  width: 6.5rem;
  margin-bottom: 0.5em;
  filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 0.40));
}

.header__title {
  color: white;
  font-family: $font-header;
  font-weight: 300;
  font-size: 2.3em;
  text-transform: uppercase;
  margin-bottom: 0.3rem;

  &::first-letter {
    font-size: 1.25em;
  }
}

.header__description {
  color: white;
  font-family: $font-header;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.5rem;
}

.header__links {
  display: flex;
  justify-content: center;

  a {
    width: 8rem;
    padding: 0.75rem 1.75rem;
    background-color: $bgColor-alternate;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-body;
    font-weight: 300;
    font-size: 0.7em;
    border-radius: 5px;
    box-shadow: $shadow-btn;
  }

  a:active {
    background-color: darken($bgColor-alternate, 3%);
  }
  
  a:first-child {
    margin-right: 1.5rem;
    background-color: $color-accent;

    &:active { background-color: darken($color-accent, 3%); }
  }
}


// Installation
.instructions--install {
  list-style-position: inside;

  li { margin-bottom: 0.75rem; }
}


// Font tweak
.font {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.font__preview {
  width: 100%;
  box-shadow: $shadow-preview;
  margin-bottom: 1rem;
}

.instructions--font {
  margin-bottom: 1rem;

  p:first-child { margin-bottom: 1rem; }
}