@media screen and (min-width: 90em) {
  .logo {
    width: 25rem;
    transform: translateY(-10%);

    &__name {
      letter-spacing: 0.08em;
    }
  }

  main section {
    margin-bottom: 3.5rem;
  }

  .social__marketplace {
    padding: 0.85rem 1.6rem;

    span {
      font-size: 1.5em;
    }
  }

  .marketplace__icon {
    width: 2.2em;
  }

  .github__icon,
  .twitter__icon,
  .facebook__icon {
    width: 3.25em;
    margin-left: 1.75em;
  }

  .info__description {
    font-size: 2.2em;
  }

  .stats__downloads {
    font-size: 2em;
  }

  .stats__rating {
    margin-left: 4rem;

    svg {
      width: 2em;
    }
  }

  .donate__btn {
    padding: 0.75rem 1.4rem;
    font-size: 1.3em;
  }

  .preview {
    padding: 0 15%;
    margin-bottom: 1.5rem;
  }

  .glide__arrow svg {
    width: 4.5em;
  }

  footer {
    margin-bottom: 2rem;

    a {
      font-size: 1.2em;
    }
  }
}
