@media screen and (min-width: 90em) {
  .logo {
    width: 25rem;
    transform: translateY(-10%);

    &__name {
      letter-spacing: 0.08em;
    }
  }

  .github__icon, .twitter__icon, .facebook__icon {
    width: 3.5em;
    margin-left: 2em;
  }

  .social__marketplace {
    font-size: 1.5em;
    padding: 0.5em 1.25em;
  }
}
