@media screen and (min-width: 90em) {
  .logo {
    width: 25rem;
    transform: translateY(-10%);

    &__name {
      letter-spacing: 0.08em;
    }
  }

  .social {
    margin-bottom: 4.2rem;
  }

  .github__icon,
  .twitter__icon,
  .facebook__icon {
    width: 3.25em;
    margin-left: 1.75em;
  }

  .social__marketplace {
    font-size: 1.4em;
    padding: 0.5em 1.25em;
  }

  .info {
    margin-bottom: 3rem;
  }

  .info__description {
    font-size: 2.2em;
  }

  .stats {
    margin-bottom: 4rem;
  }

  .stats__downloads {
    font-size: 2em;
  }

  .stats__rating {
    margin-left: 4rem;

    svg {
      width: 2em;
    }
  }

  .donate__btn {
    font-size: 1.3em;
  }

  .preview {
    padding: 0 15%;
    margin-bottom: 1.5rem;
  }

  .glide__arrow svg {
    width: 4.5em;
  }

  footer {
    margin-bottom: 2rem;
  }

  .by {
    font-size: 1.2em;
  }
}
