// PHASE 1 ANIMATIONS

@keyframes sun {
  from {
    transform: translateY(15%) scale(0.75);
    opacity: 0.9;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes reflection {
  from {
    opacity: 0;
    transform: scaleX(0.85);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@mixin reflection($nthChild) {
  animation: 3.5s reflection ease-out forwards $nthChild * 0.1 + 1.5 + s;
}

// PHASE 2 ANIMATIONS

@keyframes split-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6%);
  }
}

@keyframes split-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6%);
  }
}

@keyframes name {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
