@keyframes sun {
  from {
    transform: translateY(15%) scale(0.75);
    opacity: 0.9;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes reflection {
  0% {
    opacity: 0;
    transform: scaleX(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes reflection-fade-out {
  0% {
    opacity: 0;
    transform: scaleX(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scaleX(1);
  }
}

@keyframes reflection-20 {
  0% {
    opacity: 0;
    transform: scaleX(0.8);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scaleX(0.8) translateX(4%);
  }
}

@mixin reflection($n) {
  @if $n < 20 {
    animation: 6s reflection ease-out forwards $n * 0.1 + 1.5 + s;
  } @else if $n > 20 {
    animation: 6s reflection-fade-out ease-out forwards $n * 0.1 + 1.5 + s;
  } @else {
    animation: 6s reflection-20 ease-out forwards $n * 0.1 + 1.5 + s;
  }
}

@keyframes split-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6%);
  }
}

@keyframes split-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6%);
  }
}

@keyframes name {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
