*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lovelo';
  src: url('./fonts/LoveloLineBold.ttf') format('ttf'), url('./fonts/LoveloLineBold.woff') format('woff');
}

$color-bg: #fceae5;

body {
  background-color: $color-bg;
}

header {
  height: 75vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 16rem;
  overflow: visible;
  stroke-linecap: round;
  stroke-linejoin: round;
  // disable selection on the logo
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &__cover {
    fill: $color-bg;
  }

  &__sun {
    transform-origin: center;
    transform: translateY(30%);
    animation: 4.25s sun ease-out forwards 0.5s;
  }

  &__name {
    font-family: 'Lovelo', 'sans-serif';
    font-size: 3.8em;
    opacity: 0;
    animation: 2s name ease forwards 7.75s;
  }

  &__reflections rect {
    opacity: 0;
    transform-origin: center;
    transform: scaleX(0.8);
  }

  @for $i from 0 to 23 {
    &__reflections rect:nth-of-type(#{$i + 1}) {
      @include reflection($i + 1);
    }
  }

  &__top {
    transform: translateY(0);
    animation: 3s split-top ease forwards 6s;
  }

  &__bottom {
    transform: translateY(0);
    animation: 3s split-bottom ease forwards 6s;
  }
}

.header__chevron {
  // only shown at larger screen sizes
  display: none;
}

.social {
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 1rem;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1c1e26;
  }
}

.github__icon,
.twitter__icon,
.facebook__icon {
  fill: #1c1e26;
  width: 2em;
  margin-left: 1em;
}

.social__marketplace {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  padding: 0.5em 1em;
  border: 1px solid rgba(28, 30, 38, 0.75);
  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }

  span {
    margin-left: 0.5em;
  }
}

.marketplace__icon {
  fill: #1c1e26;
  width: 1.6em;
}

.info {
  display: flex;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

.info__description {
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  text-align: center;
}

.preview {
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}

.glide__slide img {
  width: 100%;
}

.glide__arrow {
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;

  svg {
    fill: white;
    width: 2.25em;
    opacity: 0.3;
    transition: opacity 0.25s;

    &:hover {
      opacity: 0.75;
    }
  }

  &--left {
    left: 0.4em !important;
  }
  &--right {
    right: 0.4em !important;
  }
}

footer {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.by {
  font-family: 'Raleway', sans-serif;
  font-size: 0.8em;
  color: #1c1e26;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.75;
  }
}
