*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Lovelo';
  src: url('./fonts/LoveloLineBold.ttf') format('ttf'), url('./fonts/LoveloLineBold.woff') format('woff');
}

$color-bg: #fceae5;

body {
  background-color: $color-bg;
}

.logo {
  width: 15rem;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  overflow: visible;
  stroke-linecap: round;
  stroke-linejoin: round;
  // disable selection on the logo
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &__cover {
    fill: $color-bg;
  }

  &__sun {
    transform-origin: center;
    transform: translateY(15%);
    animation: 4.25s sun ease-out forwards 0.5s;
  }

  &__name {
    font-family: 'Lovelo', 'sans-serif';
    font-size: 3.8em;
    opacity: 0;
    animation: 2s name ease forwards 7.75s;
  }

  &__reflections rect {
    opacity: 0;
    transform-origin: center;
    transform: scaleX(0.8);
  }

  @for $i from 0 to 23 {
    &__reflections rect:nth-of-type(#{$i + 1}) {
      @include reflection($i + 1);
    }
  }

  &__top {
    transform: translateY(0);
    animation: 3s split-top ease forwards 6s;
  }

  &__bottom {
    transform: translateY(0);
    animation: 3s split-bottom ease forwards 6s;
  }
}

.header__chevron {
  // only shown at larger screen sizes
  display: none;
  width: 1.5em;
  fill: none;
  stroke: #1c1e26;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}
