.class {
  color: #e9416d;
  color: rgb(25, 27, 37);
  color: hsl(347, 82%, 58%);
  color: salmon;
}

#id {
  font-family: 'Poppins', sans-serif;
  font-size: 10em;
}

div {
  display: flex;
  margin: 0 1em;
}

.special:after,
.special:before,
.special:nth-child(1),
.special:hover {
  padding: 1em;
}
